.scroll-container {
    background-color: #6F4E37;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    text-transform: uppercase;
    margin: 0;
    font-size: 14px;
    font-weight: lighter;
    color: #FAF0E6;
}

@media screen and (max-width: 670px) {
    .scroll-container {
        font-size: 12px;
    }
}
