.gift-popup {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
}

.gift-popup_visible {
    visibility: visible;
    opacity: 1;
}

.gift-popup__container {
    position: relative;
    display: flex;
    background-color: #FAF0E6;
    justify-self: center;
    max-width: 60%;
    max-height: 40%;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding: 40px 30px;
    justify-content: space-around;
}

@media screen and (max-width: 1330px) {
    .gift-popup__container {
        max-width: 70%;
    }
}

@media screen and (max-width: 1150px) {
    .gift-popup__container {
        max-width: 80%;
    }
}

@media screen and (max-width: 960px) {
    .gift-popup__container {
        flex-direction: column-reverse;
        max-height: 70%;
        align-items: center;
    }
}

@media screen and (max-width: 540px) {
    .gift-popup__container {
        flex-direction: column-reverse;
        max-height: 80%;
        max-width: 80%;
        align-items: center;
    }
}

.gift-popup__close-button {
    background-image: url("./../../images/close-icon.png");
    background-color: transparent;
    border: none;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    padding: 0;
}

.gift-popup__image {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 20px;
    align-self: center;
}

@media screen and (max-width: 960px) {
    .gift-popup__image {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 540px) {
    .gift-popup__image {
        max-width: 250px;
        max-height: 200px;
    }
}

.gift-popup__info-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    justify-content: center;
}

.gift-popup__title {
    margin: 0;
    font-size: 26px;
}

@media screen and (max-width: 540px) {
    .gift-popup__title {
        margin-top: 20px;
        text-align: center;
    }
}

.gift-popup__text {
    margin-bottom: 0;
    margin-top: 25px;
    font-size: 18px;
    font-weight: 200;
}

@media screen and (max-width: 540px) {
    .gift-popup__text {
        text-align: center;
    }
}

.gift-popup__measure {
    font-size: 18px;
    font-weight: 200;
    margin-top: 25px;
    margin-bottom: 70px;
}

@media screen and (max-width: 540px) {
    .gift-popup__measure {
        text-align: center;
    }
}

@media screen and (max-width: 960px) {
    .gift-popup__measure {
        margin-bottom: 0;
    }
}

.gift-popup__order-button {
    background-color: #6F4E37;
    border: none;
    border-radius: 40px;
    padding: 15px 0;
    color: #FAF0E6;
    font-weight: 600;
    font-size: 18px;
    width: 80%;
    align-self: end;
}

@media screen and (max-width: 960px) {
    .gift-popup__order-button {
        position: absolute;
        width: 320px;
        height: 51px;
        bottom: 35px;
        left: 31%;
    }
}

@media screen and (max-width: 540px) {
    .gift-popup__order-button {
        left: 18%;
    }
}

@media screen and (max-width: 450px) {
    .gift-popup__order-button {
        left: 10%;
    }
}

@media screen and (max-width: 390px) {
    .gift-popup__order-button {
        left: 12%;
        max-width: 270px;
    }
}
