.catalog__link {
    text-decoration: none;
    color: black;
}

.catalog__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.item__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}

@media screen and (max-width: 880px) {
    .item__image {
        width: 150px;
        height: 150px;
    }
}

.item__image-container {
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    padding-bottom: 25px;
}

@media screen and (max-width: 880px) {
    .item__image-container {
        width: 150px;
        height: 150px;
    }
}

.item__image-container::before {
    content: "";
    transition: background-color 0.5s ease;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    font-size: 17px;
    color: #FAF0E6;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 25px;
    z-index: 2;
    border-radius: 50%;
    font-weight: 700;
}

@media screen and (max-width: 880px) {
    .item__image-container::before {
        width: 150px;
        height: 150px;
    }
}

.item__image-container:hover::before{
    content: "Выбрать";
    background-color: rgba(0, 0, 0, .3);
}

.item__description {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
}

@media screen and (max-width: 670px) {
    .item__description {
        font-size: 15px;
    }
}

.item__price {
    margin: 0;
    font-size: 15px;
    font-weight: lighter;
}

@media screen and (max-width: 670px) {
    .item__price {
        font-size: 12px;
    }
}
