.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
    margin-right: 150px;
}

@media screen and (max-width: 880px) {
    .header__nav {
        margin-right: 80px;
    }
}

@media screen and (max-width: 670px) {
    .header__nav {
        gap: 40px;
        margin-right: 40px;
    }
}

@media screen and (max-width: 450px) {
    .header__nav {
        display: none;
    }
}

.header__link {
    font-size: 16px;
    text-decoration: none;
    color: #6F4E37;
    font-weight: lighter;
}

@media screen and (max-width: 670px) {
    .header__link {
        font-size: 14px;
    }
}

.header__link:hover {
    font-weight: bold;
}

.header__link_active {
    font-weight: bold;
}
