.image-block__button {
    margin-bottom: 30px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgba(250,240,230, .3);
    border: 1px solid #FAF0E6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 128px;
    align-self: flex-end;
    margin-right: 60px;
    transition: transform 0.5s ease-in-out;
}

@media screen and (max-width: 1330px) {
    .image-block__button {
        height: 170px;
        width: 170px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 880px) {
    .image-block__button {
        height: 120px;
        width: 120px;
        margin-right: 50px;
    }
}

.image-block__button:hover {
    transform: scale(1.1);
    background-color: rgba(250,240,230, .4);
}

.image-block__button:active {
    background-color: rgba(0, 0, 0, .4);
}

.image-block__button-text {
    margin: 0;
    color: #FAF0E6;
    font-size: 18px;
    text-align: center;
    max-width: 70px;
}

@media screen and (max-width: 880px) {
    .image-block__button-text {
        font-size: 12px;
        max-width: 60px;
    }
}
