.image-block__button {
    margin-bottom: 30px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgba(250,240,230, .3);
    border: 1px solid #FAF0E6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 128px;
    margin-left: 1120px;
    transition: transform 0.5s ease-in-out;
}

.image-block__button:hover {
    transform: scale(1.1);
    background-color: rgba(250,240,230, .4);
}

.image-block__button:active {
    background-color: rgba(0, 0, 0, .4);
}

.image-block__button-text {
    margin: 0;
    color: #FAF0E6;
    font-size: 18px;
    max-width: 70px;
}
