.image-block {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 0;
    position: relative;
    align-items: center;
    transition: 5s;

    animation-name: animate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@media screen and (max-width: 670px) {
    .image-block {
        max-height: 50vh;
        padding-bottom: 180px;
        box-sizing: border-box;
        padding-top: 80px;
    }
}

.image-block::before {
    content: "";
    transition: background-color 0.5s ease;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.image-block__title {
    margin-top: 205px;
    color: #FAF0E6;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 55px;
    position: relative;
}

@media screen and (max-width: 1330px) {
    .image-block__title {
        margin-top: 120px;
        align-self: center;
        font-size: 50px;
    }
}

@media screen and (max-width: 1050px) {
    .image-block__title {
        font-size: 40px;
    }
}

@media screen and (max-width: 880px) {
    .image-block__title {
        font-size: 30px;
    }
}

@media screen and (max-width: 670px) {
    .image-block__title {
        margin-top: 0;
        text-align: center;
        font-size: 27px;
        margin-right: 20px;
        margin-left: 20px;
    }
}

.image-block__subtitle {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 400;
    color: #FAF0E6;
    align-self: flex-end;
    position: absolute;
    top: 60px;
    right: -60px;
}

@media screen and (max-width: 1330px) {
    .image-block__subtitle {
        font-size: 25px;
        right: -45px;
    }
}

@media screen and (max-width: 1050px) {
    .image-block__subtitle {
        top: 45px;
        font-size: 20px;
    }
}

@media screen and (max-width: 880px) {
    .image-block__subtitle {
        display: none;
    }
}

@keyframes animate {
    0% {
        background-image: url("../../images/main-photo5.jpg");
    }
    25% {
        background-image: url("../../images/main-photo1.jpg");
    }
    50% {
        background-image: url("../../images/main-photo2.jpg");
    }
    75% {
        background-image: url("../../images/main-photo3.jpg");
    }
    100% {
        background-image: url("../../images/main-photo4.jpg");
    }
}
