.gift__button {
    border: none;
    border-radius: 40px;
    padding: 15px 0;
    color: #FAF0E6;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
    transition: opacity 0.5s ease-out;
}

.gift__button:hover {
    opacity: 0.7;
}

.gift__button-more {
    background-color: #FAF0E6;
    color: #6f4e37;
    margin-bottom: 30px;
}

.gift__button-order {
    background-color: #6F4E37;
    color: #FAF0E6;
}

.gift-popup__order-button {
    background-color: #6F4E37;
    color: #FAF0E6;
    width: 80%;
    align-self: end;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .gift-popup__order-button {
        position: absolute;
        width: 320px;
        height: 51px;
        bottom: 35px;
        left: 31%;
    }
}

@media screen and (max-width: 540px) {
    .gift-popup__order-button {
        left: 18%;
    }
}

@media screen and (max-width: 450px) {
    .gift-popup__order-button {
        left: 10%;
    }
}

@media screen and (max-width: 390px) {
    .gift-popup__order-button {
        left: 12%;
        max-width: 270px;
    }
}
