.header {
    display: flex;
    align-items: center;
    margin: 0;
    background-color: #FAF0E6;
    padding-top: 10px;
    padding-bottom: 8px;
    justify-content: space-between;
}

.header__logo {
    height: 47px;
    width: 198px;
    margin-left: 130px;
    background-image: url("../../images/header-logo.png");
}

@media screen and (max-width: 880px) {
    .header__logo {
        margin-left: 70px;
    }
}

@media screen and (max-width: 670px) {
    .header__logo {
        margin-left: 40px;
        height: 35px;
        width: 150px;
        background-image: url("../../images/header__logo-670.png");
    }
}
