.header {
    display: flex;
    align-items: center;
    margin: 0;
    background-color: #FAF0E6;
    padding-top: 10px;
    padding-bottom: 8px;
    justify-content: space-between;
}

.header__logo {
    height: 47px;
    width: 198px;
    margin-left: 130px;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
    margin-right: 150px;
}

.header__link {
    font-size: 16px;
    text-decoration: none;
    color: #6F4E37;
    font-weight: lighter;
}

.header__link_active {
    font-weight: bold;
}
