.social-networks__item {
    display: flex;
    flex-direction: column;
}

.social-network {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
}

@media screen and (max-width: 1050px) {
    .social-network {
        max-width: 100px;
        max-height: 100px;
    }
}

@media screen and (max-width: 670px) {
    .social-network {
        max-width: 85px;
        max-height: 85px;
    }
}

.social-network__black {
    border: 1px solid black;
    border-radius: 20px;
}

.social-network__brown {
    border: 1px solid #6F4E37;
    border-radius: 20px;
}

.social-network__icon {
    max-width: 125px;
    max-height: 70px;
    transition: transform 0.5s ease-out;
}

@media screen and (max-width: 1050px) {
    .social-network__icon {
        max-width: 75px;
        max-height: 50px;
    }
}

@media screen and (max-width: 670px) {
    .social-network__icon {
        max-width: 50px;
        max-height: 40px;
    }
}

.social-network__icon:hover {
    transform: scale(1.15);
}

.social-network__span {
    margin-top: 3px;
    margin-bottom: 0;
    font-size: 8px;
    text-align: center;
    align-self: center;
}

@media screen and (max-width: 1050px) {
    .social-network__span {
        max-width: 75px;
    }
}

.social-network__popup {
    max-height: 100px;
    max-width: 100px;
}

@media screen and (max-width: 760px) {
    .social-network__popup {
        max-height: 70px;
        max-width: 70px;
    }
}

.social-network__icon-popup {
    max-width: 70px;
    max-height: 50px;
}

@media screen and (max-width: 760px) {
    .social-network__icon-popup {
        max-width: 45px;
        max-height: 30px;
    }
}
