.scroll-container {
    background-color: #FFFAFA;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    text-transform: uppercase;
    margin: 0;
    font-family: "Lexend Deca", sans-serif;
    font-size: 14px;
    font-weight: lighter;
    color: #B22222;
}