.order-popup__form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
}

.order-popup__form_type-page {
    margin-top: 25px;
    margin-bottom: 40px;
}

.order-popup__label {
    font-size: 13px;
    color: #6f4e37;
    font-weight: 200;
    margin-bottom: 5px;
    margin-top: 10px;
}

.order-popup__input {
    border: none;
    border-radius: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 300px;
    align-self: center;
    width: 100%;
    margin-bottom: 5px;
}

@media screen and (max-width: 760px) {
    .order-popup__input {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.order-popup__input:focus {
    outline-color: #6f4e37;
}

.order-popup__input::placeholder {
    font-size: 14px;
    color: #6f4e37;
    font-weight: 200;
    opacity: 0.6;
}

.order-popup__input_type-page {
    background-color: #FAF0E6;
}

.order-popup__input-error {
    color: #ff5252;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 10px;
}

.order-popup__checkbox-error {
    color: #ff5252;
    margin-top: 0;
    font-size: 10px;
}

.order-checkbox__title {
    margin-top: 15px;
    margin-bottom: 10px;
    color: #6f4e37;
    font-weight: 300;
    font-size: 16px;
}

.order-checkbox__title {
    margin-bottom: 0;
}

.order-checkbox__container {
    display: flex;
    flex-direction: column;
}

.order-popup__checkbox {
    margin-right: 5px;
}

.order-popup__checkbox:checked {
    accent-color: #6f4e37;
}

.order-popup__label-checkbox {
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 5px;
    margin-left: 10px;
}

.order-popup__label-checkbox:first-of-type {
    margin-top: 11px;
}

.order-popup__span {
    font-size: 25px;
    color: #6f4e37;
    font-weight: 600;
    margin-top: 15px;
}

@media screen and (max-width: 960px) {
    .order-popup__span {
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 760px) {
    .order-popup__span {
        font-size: 16px;
    }
}

.order-popup__text {
    font-size: 25px;
    color: #6f4e37;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 20px;
}

@media screen and (max-width: 960px) {
    .order-popup__text {
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 760px) {
    .order-popup__text {
        font-size: 16px;
    }
}
